isAuthenticated : {{isAuthenticated}}
<br>

<div [hidden]="isAuthenticated">
    <app-login></app-login>
</div>
<div [hidden]="!isAuthenticated">
    <br>
    <button (click)="getCars()">GET CARS</button>
    <button (click)="postCar()">POST CAR</button>
    <button (click)="createBrand()">Create Brand</button>
    <button (click)="addClient()">addClinet</button>
    <button (click)="addOrder()">addOrder</button>
    <button (click)="allOrders()">allOrders</button>
    <app-logout></app-logout>
    <router-outlet></router-outlet>
</div>
