<br>
<div [hidden]="isAuthenticated" id="login">
    <app-login id="loginForm"></app-login>
</div>
<div [hidden]="!isAuthenticated" id="mainDiv">
    <mat-toolbar class="topBar">
        <p>Rent Car Application</p>
        <app-logout id="logoutButton"></app-logout>
     </mat-toolbar>
     <div id ="sideMenu">
        <button mat-button (click)="getCars()" [ngClass]="selectedButton == 'getCars' ? 'redicert' : ''">
            SHOW ALL CARS
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="postCar()"  [ngClass]="selectedButton == 'postCar' ? 'redicert' : ''">
            ADD NEW CAR
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="createBrand()" [ngClass]="selectedButton == 'createBrand' ? 'redicert' : ''">
            CREATE NEW BRAND
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="addClient()" [ngClass]="selectedButton == 'addClient' ? 'redicert' : ''">
            ADD NEW CLIENT
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="addOrder()" [ngClass]="selectedButton == 'addOrder' ? 'redicert' : ''">
            ORDER CAR
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="allOrders()" [ngClass]="selectedButton == 'allOrders' ? 'redicert' : ''">
            SHOW ALL ORDERS
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <br>
        <button mat-button (click)="email()" [ngClass]="selectedButton == 'email' ? 'redicert' : ''">
            SEND NOTIFICATION EMAIL
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
     </div>
     <div id="content">
        <router-outlet></router-outlet>
     </div>  
</div>
