.mainDiv {
    display: flex;
    justify-content: center;
    background-color : white;
    height: 100%;
  }

  #loginForm{
    margin-top: 50px;
    background-color : white;

  }
#fieldSet{
  background-color: #0074D9;
  color:white

}
#login {
   display: flex;
   justify-content: center;

}

#submitButton {
    float:right;
}

.password {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.email {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

fieldset {
    border-radius: 25px;
    border: 2px solid #ff4081; 
}

.help-block {
    color: red;
    font-size: 55%;
}

input.ng-invalid.ng-touched:not(:focus) {
    border-color: red;
  }

  input.ng-invalid.ng-dirty:not(:focus) {
    border-color: red;
  }

  .inputFormElement {
      height: 50px;
  }

  #showEmailError{
    float: right;
  }

  #showPasswordError{
    float: right;
  }
